.header {
  display: grid;
  grid-template-columns: repeat(2, max-content) auto;

  .logo {
    padding-top: 1px;
    cursor: pointer;
  }

  .title {
    position: relative;
    top: -1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 26px;
    justify-self: start;
    padding-left: 8px;
    cursor: pointer;
  }

  .login {
    font-family: 'Roboto', sans-serif;
    justify-self: end;
    font-size: 16px;
    padding-right: 145px;
    padding-top: 2px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .header {
    .logo {
      padding: 32px 0 0 20px;
      width: 60px;
    }

    .title {
      display: none;
    }
  }
}