@import url('https://fonts.googleapis.com/css2?family=Open+Sans&Public+Sans&family=Roboto+Slab:wght@800&family=Roboto:wght@700&display=swap');

:root {
  --white: #fff;
  --blue: #3258FB;
  --black: #333;
  --gray: #919EAB;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
}


