.backgroundLay {
  height: 100vh;
  background: var(--gray);
  display: grid;
  align-items: center;
  justify-items: end;

  .bgImage {
    position: relative;
    top: -11px;
    padding-right: 70px;
  }
}

.wrapper {
  display: grid;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: radial-gradient(106.64% 115.35% at 4.1% 5.52%, rgba(22, 28, 36, 0.48) 0%, rgba(22, 28, 36, 0.8) 45.53%, #161C24 100%, #161C24 100%, #161C24 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
;
  transform: matrix(-1, 0, 0, 1, 0, 0);

  .transform {
    transform: matrix(-1, 0, 0, 1, 0, 0);

    .header {
      color: var(--white);
      padding: 32px 0 0 150px;
    }
  }

  .content {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: grid;
    width: 466px;
    grid-template-rows: repeat(3, auto);
    gap: 40px;
    position: absolute;
    align-self: center;
    right: 144px;

    .bigText {
      font-family: 'Roboto', sans-serif;
      font-size: 64px;
      line-height: 80px;
      color: var(--white);

      .blueText {
        color: var(--blue);
        padding-left: 17px;
      }
    }

    .description {
      position: relative;
      top: 1px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);
      width: 466px;
      text-align: start;
    }

    .button {
      font-family: 'Roboto', sans-serif;
      height: 48px;
      width: 191px;
      background: var(--blue);
      box-shadow: 0 8px 16px rgba(50, 88, 251, 0.24);
      border-radius: 8px;
      border: none;
      color: var(--white);
      font-size: 15px;
      line-height: 26px;
    }
  }
}